apiVersion: v1
kind: Service
metadata:
  name: cassandra
  namespace: iot-pipeline
  labels:
    app: cassandra
spec:
  ports:
  - port: 9042
    name: cql
  selector:
    app: cassandra
  clusterIP: None
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: cassandra
  namespace: iot-pipeline
spec:
  selector:
    matchLabels:
      app: cassandra
  serviceName: "cassandra"
  replicas: 1
  template:
    metadata:
      labels:
        app: cassandra
    spec:
      containers:
      - name: cassandra
        image: cassandra:4.1
        ports:
        - containerPort: 9042
          name: cql
        env:
        - name: CASSANDRA_CLUSTER_NAME
          value: "MyCluster"
        - name: CASSANDRA_DC
          value: "datacenter1"
        - name: CASSANDRA_RACK
          value: "rack1"
        - name: CASSANDRA_ENDPOINT_SNITCH
          value: "GossipingPropertyFileSnitch"
        - name: MAX_HEAP_SIZE
          value: "256M"
        - name: HEAP_NEWSIZE
          value: "64M"
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "1Gi"
            cpu: "1000m"
        volumeMounts:
        - name: cassandra-data
          mountPath: /var/lib/cassandra
  volumeClaimTemplates:
  - metadata:
      name: cassandra-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
