apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-taskmanager
  namespace: iot-pipeline
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flink
      component: taskmanager
  template:
    metadata:
      labels:
        app: flink
        component: taskmanager
    spec:
      containers:
      - name: taskmanager
        image: iot-flink-job:latest
        imagePullPolicy: Always
        args: ["taskmanager"]
        ports:
        - containerPort: 6122
          name: rpc
        livenessProbe:
          tcpSocket:
            port: 6122
          initialDelaySeconds: 30
          periodSeconds: 60
        env:
        - name: FLINK_PROPERTIES
          value: "jobmanager.rpc.address: flink-jobmanager"
