apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: http://loki:3100 # IMPORTANT: Use the service name 'loki'
    isDefault: true
    version: 1
    editable: true
    json_data:
      maxLines: 1000